@font-face {
    font-family: Cursed Timer ULiL;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background-color:  #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h3 {
    font-family:  Verdana, sans-serif;
    color:  #EEEEEE;
    font-size: 40px;
}

.score-background {
    width: 155px;
    height: 125px;
    background-color: #080001;
    color: #F94F6D; /* color of score */
    font-family: Cursed Timer ULiL;
}

.score {
    font-size: 90px;
}

.adding-buttons {
    background-color:  transparent;
    width: 45px;
    height: 45px;
    border:  2px solid;
    border-radius:  5%;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    color: #9AABD8;
}
















