@font-face {
    font-family: Cursed Timer ULiL;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background-color:  #1B244A;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 575px;
    height: 385px;
}

h3 {
    font-family:  Verdana, sans-serif;
    color:  #EEEEEE;
    font-size: 40px;
}

.score-background { /* styles contents of score background and text in boxes */
    width: 155px;
    height: 125px;
    background-color: #080001;
    color: #F94F6D; /* color of score */
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.buttons-container {
    padding-top: 20px;
}

.buttons {
    background-color:  transparent;
    width: 45px;
    height: 45px;
    border:  2px solid;
    border-radius:  5px;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    color: #9AABD8;
    cursor: pointer;
}

.buttons:hover {
    background-color: #151d3f;
}
















